<a href="https://colab.research.google.com/github/gertrudehattoh/test_repo/blob/master/work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###assignment
1. list 20 countries
2. Make a dictionary of Q1
3. Convert the dictionay into pandas dataframe
4. save into excel or csv file

In [1]:
#a dictionary of countries ad their capitals
countryCapital = {'Algeria': 'Algiers', 'Benin': 'Porto-Novo' , 'Botswana': 'Gaborone', 'Burkina Faso': 'Ouagadougou', 'Cameroon': 'Yaounde', 'Chad': "N'Djamena", 'Congo' : 'Brazzaville', 'Egypt': 'Caro', 'Ethiopia': 'Addis Ababa', 'Gabon': 'Libreville', 'Gambia': 'Banjul', 'Ghana': 'Accra', 'Morocco': 'Rabat', 'Nigeria': 'Abuja', 'Rwanda': 'Kigali', 'Senegal': 'Dakar', 'Sierre Leone': 'Freetown', 'Zimbabwe': 'Harare', 'Togo': 'Lome', 'Uganda': 'Kampala'}

In [6]:
#getting the keys which are the countries
coun = countryCapital.keys()
coun

dict_keys(['Algeria', 'Benin', 'Botswana', 'Burkina Faso', 'Cameroon', 'Chad', 'Congo', 'Egypt', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Morocco', 'Nigeria', 'Rwanda', 'Senegal', 'Sierre Leone', 'Zimbabwe', 'Togo', 'Uganda'])

In [3]:
# creating a pandas dataframe of countries.
import pandas as pd
df = pd.DataFrame(coun , columns = ['Countries'])

In [4]:
df

       Countries
0        Algeria
1          Benin
2       Botswana
3   Burkina Faso
4       Cameroon
5           Chad
6          Congo
7          Egypt
8       Ethiopia
9          Gabon
10        Gambia
11         Ghana
12       Morocco
13       Nigeria
14        Rwanda
15       Senegal
16  Sierre Leone
17      Zimbabwe
18          Togo
19        Uganda

In [5]:
df.to_csv('MyAfricaCountries', index= False)